.bodyStyle{
    background-color: rgba(241, 240, 240, 0.863);
}
.split{
    float: right;
    background-color: #111;
    height: 1px;
}
.split2{
    background-color: #aaa;
    height: 1px;
}
.commentDiv{
    width: 1000px;
    height: 570px;
    margin: 30px auto;
}
.left{
    width: 300px;
    float: left;
}
.left img{
    width: 290px;
    height: 200px;
    margin-bottom: 10px; 
}
.hotComment{
    word-wrap:break-word;
    word-break:break-all;
    color: #555;
}
.hotComment table{
    margin-bottom: 10px;
}
.hotComment p{
    font-size: 12px;
}
.hotComment td{
    vertical-align: top;
}
.hotComment img{
    width: 25px;
    height: 25px;
    float: left;
}
.hotelAddr{
    font-size: 10px;
    color: #666;
}
.right{
    width: 685px;
    height: 550px;
    float: right;
    background-color: white;
}

.right table{
    line-height:38px;
    margin: 30px 0 0 30px;
}
.right_top{
    padding: 3px 0 0 10px;
    height: 37px;
    border: 1px solid #ddd;
    background-color: #eee;
}
.right_top p{
    color: #666;
    font-size: 20px;
}
.score, .checkInComment{
    padding-left: 20px;
}
.score ul {
    padding-left: 0;
    overflow: hidden;
    float: left;
}
.score ul li {
    float: left;
    list-style: none;
    width: 27px;
    height: 27px;
    background: url(../images/star.gif)
}
.score ul li a {
    display: block;
    width: 100%;
    padding-top: 27px;
    overflow: hidden;
}
.score ul li.light {
    background-position: 0 -29px;
}
.finalScore{
    color: #ef5734;
    margin-top: -4px;
    margin-left: 10px;
    font-size: 22px;
    float: left;
}
.finalScore p{
    font-size: 22px;
}
#checkInComment{
    resize: none;
    margin-top: 10px;
    line-height: 20px;
}
.commentBtnDiv{
    width: 84px;
    margin: 80px auto 0 auto;
}
.commentBtn{
    color: white;
    background-color: #ef5734;
}
#result img{
    width: 100px;
    height: 100px;
    margin-right: 10px;
    float: left;
}
.uploadImg{
    margin: 0 auto;
    width: 600px;
}
.resetChooseBtn{
    height: 27px;
    position: relative;
    top: -30px;
    left: 470px;
}