.bodyStyle{
  background-color: #111;
}
.login{
  font-size: 16px;
  font-weight: 500;
  color: white;
  float: right;
  position: relative;
  top: -5px;
  height: 30px;;
}
.login a{
  color: white;
}
.login  a:visited{
  color: white;
}
.header{
  background-color: #222;
}
.infoCategory{
    padding: 15px 30px 15px 30px;
    font-size: 27px;
    font-weight: 500;
  }
.splitLine{
  height: 1px;
  background-color: #ef5734;
}
.citiesInfo {
  margin: 40px 140px;
  padding-top: 15px;
  background-color: white;
  border-radius: 10px;
}
.citieslist{
  width: 1100px;
}
.domestic_cityInfo, .foregin_cityInfo{
  /* background-color: yellow; */
  width: 243.5px;
  height: 193.5px;
  padding: 1.5px;
  margin-right: 20px;
  float: left;
}
.cityInfo:hover{
  background-color: #ef5734;
}
.cityInfoTitle{
  background-color: #000;
}
a:hover, a:focus { outline: none; text-decoration: none; }
.tab{
  height: 290px;
  position: relative;
  padding-left: 50px;
  background-color: white;
}
.tab img{
  width: 240.5px;
  height: 165px;;
}
.tab .nav-tabs { border-bottom: none; position: relative; }
.tab .nav-tabs li { margin-right: 30px; z-index: 1; }
/* .tab .nav-tabs li:after { content: ""; width: 100%; border: 1px solid #ccc6c6; position: absolute; top: 50%; right: -60%; z-index: -1; } */
.tab .nav-tabs li:last-child:after { border: none; }
.tab .nav-tabs li a { display: block; padding: 5px 5px; background: #fff; font-size: 15px; font-weight: 600; color: #ef5734; text-transform: uppercase; border-radius: 0; margin-right: 0; border: px solid #ef5734; position: relative; overflow: hidden; z-index: 1; transition: all 0.3s ease 0s; }
.tab .nav-tabs li.active a, .tab .nav-tabs li a:hover { color: #fff; border: 2px solid #ef5734; border-radius: 3px; }
.tab .nav-tabs li a:after { content: ""; display: block; width: 100%; height: 0; position: absolute; top: 0; left: 0; z-index: -1; transition: all 0.3s ease 0s; }
.tab .nav-tabs li.active a:after, .tab .nav-tabs li a:hover:after { height: 100%; background: #ef5734; }
.tab .tab-content { padding: 20px 10px; margin-top: 0; font-size: 14px; color: white; line-height: 26px; }

@media only screen and (max-width: 767px) {
.tab .nav-tabs li { margin: 0 25px 0 0; }
}

@media only screen and (max-width: 479px) {
/* .tab .nav-tabs li { width: 100%; text-align: center; margin: 0 0 10px 0; } */
.tab .nav-tabs li:after { width: 0; height: 100%; top: auto; bottom: -60%; right: 50%; }
}

/*酒店查找模块*/
.hotel-search-card {
    position: absolute;
    z-index: 100;
    height: 55%;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    background: white;
    box-shadow: -4px -4px 0 4px #337ab7, 4px 4px 0 4px #33cc99;

}
/*外层模块*/
.outer-card {
    position: relative;
}
/*搜索标签页*/
.search-tab {
    margin-top: 20px;
}
/*搜索输入框标头*/
.input-head-search {
    width: 32%;
    text-align: right;
}
/*搜索输入框*/
.input-search {
    width: auto;
}
/*搜索按钮图标*/
.icon-search {
    color: white;
    font-weight: bold;
}
/*搜索输入框条目*/
.item-search {
    margin-top: 20px;
    margin-bottom: 20px;   
}
/*搜索按钮*/
.button-search {
    background: linear-gradient(45deg,#33cc99,#337ab7);
    border: 0;
}
/*日历图标*/
.icon-calendar {
    padding: 7px 0 0 0;
}
/*日期控件*/
.input-daterangepicker {
    padding-right: 5px;
}
/*主题文字*/
.title-theme {
    color: white;
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 25%;
    width: 100%;
    font-size: 50px;
    text-align: center;
}
/*单个主题outer*/
.outer-theme-single {
    position: relative;
}
/*banner信息*/
.banner-info {
    position: relative;
    left: 50%;
    width: 50%;
    padding-top: 16em;
}